@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h2 {
    @apply text-4xl font-poppins_bold my-3;
  }
}

@layer base {
  h3 {
    @apply text-3xl font-poppins_bold my-3;
  }
  h4 {
    @apply text-lg font-medium;
  }
  p {
    @apply text-sm font-poppins_regular;
  }
  span {
    @apply text-base font-poppins_regular;
  }
  a {
    @apply font-poppins_regular;
  }
}
/*/////////////////////////////////// font family//////////////////////// */
@font-face {
  font-family: poppins_bold;
  src: url("../components/font/Poppins-Bold.ttf");
}
@font-face {
  font-family: poppins_regular;
  src: url("../components/font/Poppins-Regular.ttf");
}
/* /////login page//////////////////////////////////////////////////// */
@layer components {
  /* /////login */

  .wrap {
    @apply m-12 flex h-[calc(100vh-200px)] min-h-[600px];
  }
  .wrap-tabWF {
    @apply m-12 flex-col h-auto;
  }
  .wrap-mobWF {
    @apply m-0 flex-col h-auto;
  }
  .wrap-deskWF {
    @apply m-24;
  }
  /* /////login aside left */
  .introduce {
    @apply p-12 w-3/5 bg-loginIntroduce relative overflow-hidden rounded-l-xl flex flex-col justify-between;
  }
  .introduce-tabWF {
    @apply px-7 py-12 w-full rounded-l-none rounded-t-xl flex flex-col justify-center items-center text-center;
  }

  .introduce-logo {
    @apply flex items-center;
  }

  /* ////login aside right */
  .form {
    @apply w-2/5 p-12 bg-white flex flex-col justify-center rounded-r-xl;
  }
  .form-tabWF {
    @apply w-full rounded-r-none rounded-b-xl;
  }
}

/* /////////////////signup/////////////////////////////////////////// */
@layer components {
}
.ant-form-item-explain {
  position: absolute;
  font-size: 10px;
  color: red;
  margin-left: 10px;
}
