@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
}
/*/////////////////////////////////// font family//////////////////////// */
@font-face {
  font-family: poppins_bold;
  src: url("../components/font/Poppins-Bold.ttf");
}
@font-face {
  font-family: poppins_regular;
  src: url("../components/font/Poppins-Regular.ttf");
}
@layer utilities {
  .font-poppins_bold {
    font-family: "poppins_bold", sans-serif;
  }
  .font-poppins_regular {
    font-family: "poppins_regular", sans-serif;
  }
  .bg-loginIntroduce {
    background-image: linear-gradient(
      90deg,
      rgb(63, 119, 209) 25%,
      rgb(80, 141, 239)
    );
  }
  .shadow-decorationblock {
    box-shadow: 0 0 0 60px hsl(0deg 0% 100% / 10%);
  }
}
/* /////login page//////////////////////////////////////////////////// */
@layer components {
}

/* /////////////////signup/////////////////////////////////////////// */
@layer components {
}

.animate-balloons1 {
  animation: balloons 5s linear infinite;
}
.animate-balloons2 {
  animation: balloons 8s linear infinite;
}

@keyframes balloons {
  0% {
    transform: rotate(45deg);
  }
  25% {
    transform: rotate(45deg) translate(5px, -10px);
  }
  50% {
    transform: rotate(45deg);
  }
  75% {
    transform: rotate(45deg) translate(5px, 10px);
  }
  100% {
    transform: rotate(45deg);
  }
}

.test-class {
  filter: drop-shadow(-4px 0px 30px rgba(0, 0, 0, 0.25))
    drop-shadow(4px 4px 30px rgba(0, 0, 0, 0.25));
}
